* {
	
	margin: 0;
}

body {
	background: #424242;
}
#cookie_consent {
	background-color: #18b4f7;
	color: white;
	text-align: left;
	padding: 15px;
}
#x{
	float: right;
	background: transparent;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	position: relative;

}
#icbig {
	position: relative;
	left: 50px;
}

#got{
position: relative;
left: 150px;
}

.container{
	display: flex;
}

#container p{
	background-color: #18b4f7;
}
#cookie_consent a:link{
	background-color: #18b4f7;
	color: white;
}

#menuHaut a:link{
	margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  margin-right: 5px;
}

#menuHaut li {
	display: inline;
	list-style-type: none;
}

nav {
	text-align: right;
}

.searchBox{
  float: right;
}

.searchBox input[type=text], .searchBox button {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: white;
}


.searchBox button {
  float: right;
  padding: 10px 20px;
  margin-top: 8px;
  margin-right: 16px;
  background: lightgray;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

section{

	background-color: white;
	margin: 50px;
	height: 1100px;
	
}

#statistics{
	float: right;
 	width: 79%;
 	position: relative;
 	bottom: 300px;
  padding: 10px;
  margin: 0;
	color: blue;
	background-color: orange;
 
}

.jouer ul{
		list-style-type: none;
  	padding-left: 0;
  	text-align: left;

}

.jouer ul li {
    display: inline-block;
    position: relative;
    left: 500px;
  	top: -230px;
}

.jouer a::after {
    display: inline-block;
    color: #000;
    content: '>>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    position: relative;
}

#categories{
	 width: 20%;
  padding: 10px;
  margin: 0;
	color: blue;
	background-color: lightblue;
}

.menuMiddle li{
	list-style-type: none;
	text-align: left;
}

.menuMiddle a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.faq li{
	list-style-type: none;
	text-align: left;
	margin-top: 30px;

}

.faq a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#testimonials{
	
	float: left;
	width: 350px; 
  padding: 0px;
}

#testimonials p{
	
	text-align: right;
	margin-right: 100px;
	height: 100px;
	width: 200px;
	padding: 10px;

}

#testimonials header{
	color: blue;
	background-color: #18b4f7 ;
	width: 12%;
	height: 5px;
  padding: 10px;
  padding-right: 150px;
  padding-left: 20px;
  margin: 0;
  margin-left: 0px;
	color: blue;
	
}

#testimonials h3 {
	position: relative;
	bottom: 8px;

}

#testimonials p span{
	color: blue;
	font-style: italic;	
}

#formulaire{
	background-color: indianred;
	width: 500px;
	float: right;
	padding: 20px;
	border: 2px solid black;
	position: relative;
	bottom: 200px;
	right: 300px;
}

#video{
 float: right;
 }

 #video h3{
 	text-align: center;}


#tableauScores{
float: right;

	
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
 .top3{
	background-color: lightgreen;
}
.derniers:nth-child(odd){
	background-color: indianred;
}

th {
  background-color: lightblue;
}


tfoot td {
	background-color: lightblue;
}

body {
	
}

footer {
	color: darkgrey;
	text-align: center;
	font-size: 15px;
	border-top-style: dotted;
	border-top-width: 2px;
	margin: 50px;
	padding: 50px;

} 

#footerMenu {
	text-align: center;
	color: blue;
}

footer p {
	padding: 30px;
	margin: 50px;
	text-align: center;
}

#piedPage a:link {
  color: darkgrey;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

#piedPage ul li{
	display: inline;
	position: relative;
	left: 150px;


}

