* {
	margin: 0;
	background-color: grey;
}

body div {
	background-color: #18b4f7;
	font-size: 25px;
	text-align: left;
	color: white;
}
body div a {
	background-color: #18b4f7;
	color: white;
}

ul {
    margin: 0;
  	padding: 0;
  	overflow: hidden;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
}

table  {
	border: 1px solid black;
	border-radius: 5px;
	border-spacing:0;
	vertical-align: top;
}

th {
  background-color: lightblue;
}

tfoot tr td {
	background-color: lightblue;
}

body {
	
}

footer {
	color: darkgrey;
	text-align: center;
}


footer ul li a {
	color: darkgrey;
	text-align: center;

}